<h2>Repositories</h2>
<br/>

<h3>Arch Linux</h3>
<pre>pacaur -S nheko # nheko-git</pre>
<br/>

<h3>Debian (10 and above)</h3>
<pre>sudo apt install nheko</pre>
<br/>

<h3>Fedora</h3>
<pre>sudo dnf install nheko</pre>
<br/>

<h3>Gentoo Linux</h3>
<pre>sudo layman -a matrix
sudo emerge -a nheko</pre>
<br/>

<h3>Alpine Linux (and postmarketOS)</h3>
<p class="notation">Make sure you have the testing repositories from edge enabled. Note that this is not needed on postmarketOS.</p>
<pre>sudo apk add nheko</pre>
<br/>

<h3>Flatpak</h3>
<pre>flatpak install flathub io.github.NhekoReborn.Nheko</pre>
<br/>

<h3>macOS (10.12 and above)
with macports :</h3>
<pre>sudo port install nheko</pre>
